@page "/weather"
@using System.Net
@using Microsoft.AspNetCore.Http.HttpResults
@rendermode InteractiveServer

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>
<div>
    <input id="input" @bind="city" type="text" placeholder="Ingrese su ciudad"/>
    <button @onclick="SearchCity" class="btn btn-outline-primary">Buscar</button>
    <br/>
    @if (HideLabel)
    {
        <label>En @city hace @temp</label>
    }
    <p>@description</p>
    <p class="text-danger">@errorMessage</p>
    <img src=@cityIcon/>
</div>

@code {
    string city = "";
    string temp = "";
    string cityIcon = "";
    string description = "";
    const string apiKey = "4d8fb5b93d4af21d66a2948710284366";
    private bool HideLabel { get; set; } = false;
    Forecast _forecast;
    public HttpClient HttpClient = new HttpClient();
    string errorMessage = "";

    private async Task SearchCity()
    {
        var responeAPI = await HttpClient.GetAsync($"https://api.openweathermap.org/data/2.5/weather?q={city}&lang=es&appid={apiKey}&units=metric");
        if (responeAPI.StatusCode != HttpStatusCode.OK)
        {
            HideLabel = false;
            errorMessage = "Ciudad no encontrada";
            return;
        }

        errorMessage = "";
        var response = await responeAPI.Content.ReadFromJsonAsync<Forecast>();
        temp = response.main["temp"].ToString() + "°C";
        city = response.Name;
        description = response.weather[0].description;
        cityIcon = $"https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/{response.weather[0].icon}.svg";
        HideLabel = true;
    }

    public class Forecast
    {
        public Dictionary<string, float> main { get; set; }
        public List<WeatherInfo> weather { get; set; }
        public string Name { get; set; }
    }

    public class WeatherInfo
    {
        public int id { get; set; }
        public string main { get; set; }
        public string description { get; set; }
        public string icon { get; set; }
    }

}